{
    "project_id": "bigquery-public-data",
    "dataset_id": "samples",
    "replication_method": "INCREMENTAL",
    "forced_fulltables": [],
    "table_prefix": "prefix_",
    "table_suffix": "_suffix",
    "validate_records": true,
    "location": "EU",
    "stream_data": false
}